html { 
  background: url('./assets/waterfront.jpg') no-repeat; 
  background-size: cover;
}

ul {
  list-style-type:none;
}
a:link {
  text-decoration: none;
}
a:active {
  font-size: 20px;
  color: cadetblue;
}


/******************************************************************
*   Bar Chart styling
******************************************************************/

  .chart-box {
  
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  
  }
    .graph-chart {
      width: 40%;
      height: auto;

    }

  .bike-img-row {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 15px;
  }
    .report-title {
      margin: 5 0  auto;
      font-size: 12px;
      font-weight: bold;
      color: white;
    }
    .bike-img-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .bike-img {
        width: 350px;
        height: 350px;

      }

      .description-txt {
        width: 320px;
        height: 50px;
        margin: -320px 10px;

        font-weight: bold;
        color: rgb(66, 122, 44);
      }


/******************************************************************
*   Menu and Logo line
******************************************************************/

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .menu-bar {
    width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: cornflowerblue;
    font-weight: bold;
    font-style: italic;
  }

  .logo-line {
    text-align: center;
    font-size: 36px;
    font-style: italic;
  }

  .city-proximity {
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }


/******************************************************************
*   Filter form
******************************************************************/


.filter-form-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  width: 600px;
  height: 400px;
  border: solid 1px lightgrey;
  border-radius: 10px;

  padding: 20px 20px;
  background-color: white;
}


  .fitler-title {
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;


    margin-top: 20px;


    font-size: 20px;
    text-align: center;
    width: 100%;
  }


  .city-input {
    grid-column: 1/2;
    grid-row: 2;
    align-self: center;

    margin-top: 20px;
  }
  .zip-input {
    grid-column: 3/4;
    grid-row: 2;
    align-self: center;

    margin-top: 20px;
  }
  .distance-input {
    grid-column: 1/2;
    grid-row: 3;
    align-self: center;

    margin-top: 20px;
  }
  .keyword-input {
    grid-column: 3/4;
    grid-row: 3;
    align-self: center;

    margin-top: 20px;
  }

  #form-error-msg {
    grid-column: 2/3;
    grid-row: 4;
    align-self: center;

    margin-top: 20px;
    color: red;
  }

  .search-button {
    grid-column: 2/3;
    grid-row: 5;
    align-self: center;

    border: solid 1px lightslategray;
    border-radius: 10px;

    width: 100px;
    height: 30px;

    font-size: 18px;
    text-align: center;
    margin-left: 60px;
  }
  .input-field {
    border: solid 1px lightgrey;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
  }

